body{
  background: url('http://i.stack.imgur.com/jGlzr.png') repeat-x 0 0 scroll;
background-color:#0C0C0C;
height:100%;
width:100%;

}
.page{
  width: 780px;
  margin:auto;
  font-size: 15pt;
  font-family: 'Open Sans', sans-serif;
  border-radius: 20px;
  border: 2px dashed
}
.infophoto{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

span{
  display: block;
  margin-left: 50px;
}
